body {
	font-family: "Montserrat", sans-serif;
	background-color: #f5f7fa;
	letter-spacing: 0.03em;
	font-size: 14px;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.list {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* main styles */

.main {
	width: 900px;
	margin: 0 auto;
	background-image: url("/img/background.avif");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main_content {
	position: relative;

	box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
	padding: 30px 80px;
}

.name {
	display: inline-flex;
	width: 500px;
	padding-left: 20px;
	height: 65px;
	/* border: 1px solid black; */
	align-content: center;
	align-items: center;
	justify-content: center;
}

.appeal_container {
	display: inline-flex;
	flex-direction: column;

	width: 440px;
	/* border: 1px solid black; */
	border-top: 0;
	padding: 40px;
}

.appeal {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;

	color: #000;

	width: 400px;
}

.item {
	text-align: justify;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	width: 600px;
}

.span_item {
	margin-left: 10px;
}

.name_item {
	font-weight: 700;
}

.thanks {
	margin-left: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	width: 600px;
}

.first_item {
	width: 510px;
}

.foto {
	position: absolute;

	right: 59px;
	top: 30px;
}

.footer {
	background-color: #cbcbcb;
	display: flex;
	padding: 30px 70px;
	justify-content: space-around;
	align-items: center;
}

.link {
	text-decoration: none;
	line-height: 1.14px;
	letter-spacing: 0.02em;
	color: #757575;
}

.container_link {
	gap: 25px;
	display: grid;
}
